<% content_for :title, "Editing Movie" %>

<h1>Editing Movie</h1>

<%= render "form", movie: @movie %>

<br>

<button>
  <%= link_to "Show this movie", @movie %> 
</button>
<button>
  <%= link_to "Back to movies", movies_path %>
</button>
